<h1>Pueblos de {{nombreProv}}</h1>
<button (click)="volver()">Volver ...</button>
<table>
    <thead>
        <tr>
            <th *ngFor="let propiedad of pueblos[0] | keyvalue">{{propiedad.key}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pueblo of pueblos">
            <td *ngFor="let propiedad of pueblo | keyvalue">{{propiedad.value}}</td>
            <td>
                <a routerLink="/Pueblos/editaPueblos/{{pueblo}}">Editar {{pueblo.poblacion}}</a>
            </td>
        </tr>
    </tbody>
</table> 
